html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: 'Roboto', Arial, sans-serif;
    background-image: url('../images/background.jpg');
    color: #fff;
}

body::after {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0,0,0,.7);
}

main {
    width: 70%;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    z-index: 2;
}

h1 {
    font-family: 'Lobster', Arial, sans-serif;
    text-shadow: 0 0 20px rgba(255,255,255,.7);
}

.countdown-item {
    display: inline-block;
    font-size: 20px;
    border-radius: 50%;
    text-align: center;
    width:100px;
    height: 100px;
    line-height: 100px;
    position: relative;
    opacity: 0;
}

.countdown-item.show {
    animation: fadein 2s forwards;
}

.countdown-item::before {
    position: absolute;
    content: ' ';
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #fff;
    left: 0;
    top: 0;
    opacity: .1;
}

.countdown-item.days {
    animation-delay: 1s;
}

.countdown-item.hours {
    animation-delay: 1.5s;
}

.countdown-item.minutes {
    animation-delay: 2s;
}

.countdown-item.seconds {
    animation-delay: 2.5s;
}

.countdown-item.days::after {
    content: attr(data-days);
}

.countdown-item.hours::after {
    content: attr(data-hours);
}

.countdown-item.minutes::after {
    content: attr(data-minutes);
}

.countdown-item.seconds::after {
    content: attr(data-seconds);
}

@keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}